<h2>Your Pragmatice Cart</h2>
<ul>
  <%= render cart.line_items %>
</ul>
<p>total: <%= number_to_currency(cart.total_price) %></p>
<%= button_to 'Empty cart', cart, method: :delete, confirm: 'are you sure?' %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>